.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 10px solid;
  box-sizing: border-box;
  animation: animloader 1s linear infinite alternate;
}

@keyframes animloader {
  0% {
    border-color: #4682b4 rgba(70, 130, 180, 0) rgba(70, 130, 180, 0) rgba(70, 130, 180, 0);
  }
  33% {
    border-color: #4682b4 #4682b4 rgba(70, 130, 180, 0) rgba(70, 130, 180, 0);
  }
  66% {
    border-color: #4682b4 #4682b4 #4682b4 rgba(70, 130, 180, 0);
  }
  100% {
    border-color: #4682b4 #4682b4 #4682b4 #4682b4;
  }
}
