<div class="row mt-4 p-3">
    @for (int i = 0; i < 5; i++)
    {
    <div class="col-12 col-md-6 mb-3 ">
        <div class="bg-light rounded p-2 wrapper">
            <h5>🚆 Train №@(200+i)</h5>
            <p><strong>Route:</strong> Ungheni → Iasi</p>
            <p><strong>Status:</strong> <span class="text-danger">Delayed</span></p>
        </div>
    </div>
    }
</div>
