<footer class="border-top p-2">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center gap-2">
            <span class="text-muted fs-5">&copy; @DateTime.Now.Year - </span>
            <span class="text-muted fs-5">TrainTracker</span>
        </div>
    </div>
</footer>