<div class="container" id="header-background"></div>
<div class="container fixed-top py-1">
    <div class="row pb-0"  id="row-background">
        <div class="col-12 d-flex justify-content-start align-items-center py-2  px-0">

            <div class="img-container shadow">
                <a href="/"><img class="logo" id="logoImg" src="@Url.Content("~/img/track-logo.png")" alt="logo"></a>
            </div>

            <div class="logo-wrapper ms-3">
                <span class="logo-text text-light">Real-time <span class="strong">Train Tracking</span> Service</span>
            </div>

        </div>
    </div>
</div>
