
<div class="container">
    <div class="row pb-0">
        <div class="col-12 d-flex justify-content-start align-items-center p-2 px-0">
            
            <div class="img-container shadow">
                <a href="/"><img class="logo" src="@Url.Content("~/img/track-logo.png")" alt="logo"></a>
            </div>
            
            <div class="logo-wrapper">
                
                <span class="logo-text text-light">Real-time <span class="strong">Train Tracking</span> Service</span>
            </div>
            
            
        </div>
       
    </div>    
</div>

