<div class="col-12">
    <div class="table-responsive mt-3 bg-light rounded p-3">
        <table class="table table-striped mb-0">
            <thead>
            <tr>
                <th scope="col" class="text-center">Number</th>
                <th scope="col" class="text-center">Train title</th>
                <th scope="col" class="text-center">Arriving time</th>
                <th scope="col" class="text-center">Incidents</th>
                <th scope="col" class="text-center">Next station</th>
                <th scope="col" class="text-center">Updated time</th>
            </tr>
            </thead>
            <tbody>
            @for (int i = 0; i < 12; i++)
            {
                <tr class="wrapper">
                    <td class="text-center align-middle">
                        <span class="badge bg-secondary">#4005</span>
                    </td>
                    <td class="text-center align-middle">
                        <span class="black bold">Chisinau -> Riga
                        </span>
                    </td>
                    <td class="text-center align-middle">
                        <span class="blue bold">1 minute
                        </span>
                    </td>
                    <td class="text-center align-middle">
                        <i class="bi bi-exclamation-triangle fs-4 pulse-text"></i>
                    </td>
                    <td class="text-center align-middle fw-bold blue">Forge Station</td>
                    <td class="text-center align-middle">
                        <span class="black">10 sec</span>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>