@{
    Layout = "_Layout";
    ViewData["Title"] = "Dashboard";
}

    

    <div class="container" id="content">
        <div class="row mt-3">
            <div class="d-flex bg-white rounded mt-4 pt-2">
                <div class="col-6 ">
                    <div class=" d-flex justify-content-start align-items-center p-0 p-md-2 py-3 mx-0 mx-md-2 gap-2">
                        <h2 class="view-text">View:</h2>
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex justify-content-end align-items-center p-0 p-md-2 py-3 mx-0 mx-md-2 gap-2">
                        <button class="btn btn-secondary" id="tableBtn">
                            <i class="bi bi-table adaptive-i"></i> <span class="bold adaptive-span" id="tableTxt">Table</span>
                        </button>
                        <button class="btn btn-secondary" id="cardsBtn">
                            <i class="bi bi-grid-3x3-gap adaptive-i"></i> <span class="bold hidden adaptive-span" id="cardsTxt">Cards</span>
                        </button>
                    </div>

                </div>
            </div>
        
        </div>
        @* CARDS *@
        <div class="row mt-3 hidden" id="cardsRow">
            <div class="bg-white rounded">
                <div id="cardsContainer">                
                </div>
            </div>
        </div>

        @* TABLE *@
        <div class="row mt-3" id="tableRow">
            <div class="bg-white rounded pt-2">
                <div id="tableContainer"></div>
            </div>
        </div>
    
    </div>


@section Scripts
{
    @* View Table/Cards *@
    <script src="~/js/toggleShow.js"></script>

    <script>
    let getTrainUrl = '@Url.Action("LoadTrains", "Train")';
    let getTableUrl = '@Url.Action("LoadTable", "Train")';

    async function loadTrains() {
        try {
            const response = await fetch(getTrainUrl);
            const html = await response.text();
            // Проверка на открытую модалку
            if (!document.querySelector('#trainModal.show')) {
                document.querySelector("#cardsContainer").innerHTML = html;
            }
        } catch (err) {
            console.error(err);
        }
    }

    async function loadTable() {
        try {
            const response = await fetch(getTableUrl);
            const html = await response.text();
            // Проверяем, что модалка не открыта
            if (!document.querySelector('#tableModal.show')) {
                document.querySelector("#tableContainer").innerHTML = html;
            }
        } catch (err) {
            console.error(err);
        }
    }

    loadTrains();
    loadTable();
    
    setInterval(() => {
        loadTrains();
        loadTable();
    }, 5000);
</script>
}

