@model int
@{
    Layout = "_Layout";
    ViewData["Title"] = "Incidents";
}


<div class="container">
    
    <div class="row mt-3">
        <div class="col-12 bg-white rounded mt-4 pt-2" >
            <div class="row align-items-center">
                <div class="col-6">
                    <div class="d-flex justify-content-start align-items-center p-2 gap-2">
                        <h2 class="view-text">Incidents:</h2>
                    </div>
                </div>

                <div class="col-6">
                    <div class="d-flex justify-content-end align-items-center p-2 gap-2">
                        <button class="btn btn-secondary active" id="tableBtn" data-bs-toggle="modal" data-bs-target="#incidentModal">
                            <i class="bi bi-pencil-square adaptive-i"></i>
                            <span class="bold adaptive-span" id="tableTxt">Add an incident</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("Components/Modal")

    @* List of incidents *@
    <div class="row mt-3 mb-5" id="tableRow">
        <div class="col-12 p-0 border-0 ">
            <div class="bg-white rounded p-3 ">

                <div class="row g-3 pb-4 pt-4">
                    @for (int i = 0; i < 4; i++)
                    {
                        <div class="col-12 col-md-6 ">
                            
                                <div class="p-3 bg-light rounded shadow-sm h-100 wrapper">
                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                        <h6 class="fw-bold mb-1">JohnDoe</h6>
                                        <span class="badge bg-danger">Critical</span>
                                    </div>
                                    <p class="mb-1 text-danger">Reason: Delay at station Riga</p>
                                    <small class="text-muted d-block">Comment: Technical inspection caused 15 min delay</small>
                                </div>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>


</div>



