@{
    ViewData["Title"] = "Dashboard";
}

<div class="container mt-5">
    <div class="row bg-light rounded d-flex justify-content-center align-items-center">
            @* @await Html.PartialAsync("Components/Cards") *@
            фывфывыфв
        
    </div>
</div>

