@use "tailwindcss";
//roboto font
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
:root{
   --bg-blue: #4682b4;
   --black:#2b3440;
}

body {
  font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}








