<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    @* Custom css *@
    <link rel="stylesheet" href="~/css/normalize.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/header.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>


    @* Icon *@
    <link rel="icon" href="favicon.png"></link>
</head>
<header>
    @await Html.PartialAsync("Components/Header")
</header>

<body>
    @RenderBody()
    
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>