@model string
@{
    Layout = "_Layout";
    ViewData["Title"] = "Error";
}

<div class="container">
    <div class="row mt-3">
        <div class="d-flex bg-white rounded mt-4 pt-2 flex-column justify-content-center align-items-center">
            <h1 class="text-center fs-1 strong blue mb-0">@Model</h1>
                
            <i class="bi bi-exclamation-triangle pulse-text" style="font-size: 6rem;"></i>
               
        </div>
    </div>
</div>