name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      mariadb:
        image: mariadb:12.0.2
        env:
          MYSQL_ROOT_PASSWORD: rootpassword
          MYSQL_DATABASE: traintrackerdb
          MYSQL_USER: tracker
          MYSQL_PASSWORD: trackerpass
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping -h localhost --silent"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=10

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and run backend
        run: |
          docker build -t train-api-container ./backend
          docker run -d --name backend --network host \
            -e ConnectionStrings__MariaDbConnectionString="server=127.0.0.1;user=tracker;password=trackerpass;database=traintrackerdb;port=3306;" \
            train-api-container

      - name: Wait for MariaDB to be healthy
        run: |
          until docker exec mariadb mysqladmin ping -h "localhost" --silent; do
            echo "Waiting for database..."
            sleep 5
          done

      - name: Build and run frontend
        run: |
          docker build -t train-frontend ./client
          docker run -d --name frontend -p 80:80 train-frontend

      - name: Check running containers
        run: docker ps
