.btn.btn-secondary {
    background-color: var(--header-color) !important;
    border: 1px solid var(--header-color) !important;
    color: #fff !important;
    box-shadow: none !important; 
    outline: none !important;
    transition: all 0.3s ease;
}
.btn.btn-secondary:hover{
    color:lightblue !important;
    transform: scale(1.07) !important;

}
.btn.btn-secondary:focus {
    background-color: var(--light-blue)!important;
    border: 1px solid var(--light-blue) !important;
}

.btn.btn-secondary:active {
    transform: scale(0.90) !important;
    background-color: var(--light-blue) !important;
    border: 1px solid var(--light-blue) !important;
}

    .btn-secondary.active{
        background-color: var(--light-blue) !important;
        border: 1px solid var(--light-blue) !important;

    }


@media (max-width: 456px) {
    .adaptive-i {
        display: inline-flex !important;       
        align-items: center;
        justify-content: center;
        width: 2em !important;
        font-size: 1.5em !important;  
        padding-top: 6px !important;
        padding-left:  20px !important;
        padding-right: 20px !important;
        
    }

    .adaptive-span {
        display: none !important;             
    }
}


.btn.btn-danger {
    background-color: #d94b4b !important; /* мягкий красный */
    border: 1px solid #d94b4b !important;
    color: #fff !important;
    box-shadow: none !important;
    outline: none !important;
    transition: all 0.3s ease;
}

.btn.btn-danger:hover {
    color: #ffeaea !important; 
    transform: scale(1.07) !important;
    background-color: #e05a5a !important; 
}

.btn.btn-danger:focus {
    background-color: #f07272 !important; 
    border: 1px solid #f07272 !important;
}

.btn.btn-danger:active {
    transform: scale(0.90) !important;
    background-color: #f07272 !important;
    border: 1px solid #f07272 !important;
}

.btn-danger.active {
    background-color: #f07272 !important;
    border: 1px solid #f07272 !important;
}

.btn-close {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    opacity: 0.8;
    transition: all 0.3s ease;
}

.btn-close:hover {
    background-color: lightgray !important;
    opacity: 1;
    transform: scale(1.1);
}

.btn-close:focus {
    box-shadow: none !important;
    outline: none !important;
    opacity: 1;
}

.btn-close:active {
    transform: translateY(3px) !important;
    opacity: 0.7;
}





