

.wrapper {
    transition: all 0.5s ease; 
}

.wrapper:hover,
.wrapper:focus,
.wrapper:active
{
    transform: scale(1.02);
    cursor: pointer !important;
    border-radius: 10px !important;

    background-color: #CAE4FFFF !important;

}

.card,
.card-header,
.list-group-item {
    transition: all 0.3s ease;
    border-color: var(--ligt-color) !important;
}
.card-header{
    background-color: var(--table-grey) !important;
    color: var(--header-color) !important;

}

    .card-body:hover,
    .card-body:focus,
    .card-body:active{
        transform: scale(0.95);
        background-color: var(--ligt-color) !important;
        border-radius: 10px !important;
        cursor: pointer;
    }
    .card:focus,
    .card:active{
        cursor: default !important;
        border-radius: 10px !important;


    }
    .card-header:focus,
    .card-header:active {
        border: none !important;
        transform: none !important;
        outline: none !important;
    }

.active-card {
    border-color: var(--ligt-color) !important;
    transform: translateY(3px) !important;
    transition: transform 0.15s ease-in-out;
}
    




.train-number{
    display: inline-block;
    color: var(--ligt-color) !important;
    background-color: var(--light-blue) !important;
    border-radius: 5% !important;
    padding: 0.25em 0.5em;
    margin-top: 0.25em !important;
    margin-bottom: 0.25em !important;
    font-weight: 700 !important;
}

.pulse-card {
    animation: pulseSoftPink 2s ease-in-out infinite;
}

@keyframes pulseSoftPink {
    0%   { background-color: white; scale: none }   
    50%  { background-color: #ffe6f0; scale: none}   
    100% { background-color: #ffffff; scale: none}
}
.pulse-now-card {
    animation: pulseSoftGreen 2.5s ease-in-out infinite;
}

@keyframes pulseSoftGreen {
    0%   { background-color: #ffffff; }
    50%  { background-color: #e6ffed; } 
    100% { background-color: #ffffff; }
}




