header {
    background-color: var(--header-color);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 6px 20px rgba(0,0,0,0.19);
    padding: 0.5rem 1rem;
    
}

.logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    gap: 1rem;
    margin-left:1em ; 
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    padding: 0.5rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
    transition: all 0.8s ease;
}

    .img-container:hover,
    .img-container:focus{
        transform: scale(1.1);

    }
    .img-container:active{
        background-color: var(--ligt-color) !important;
        transform: scale(0.96) !important;
    }

.logo {
    width: 4em;
    max-width: 100%;
    height: auto;
}


.logo-text {
    font-size: 2.5em;
    font-weight: bold;
    text-shadow: none ;
    white-space: nowrap;
    text-align: center;
    cursor: default !important;
}

.strong{
    text-shadow: none !important;
    color: var(--black-color) !important;
    font-weight: 900 !important;
    
}




/* --- адаптивка --- */
@media(max-width: 992px){
    .logo {
        width: 4.5em;
    }
    .logo-text {
        font-size: 2em;
    }
}

@media(max-width: 768px){
    .logo {
        width: 5em;
    }
    .logo-text {
        font-size: 1.6em;
    }
}

@media(max-width: 510px){
    .logo-wrapper {
        display: none;
    }
    /*костыль*/
    .col-12{
        justify-content: center !important;
    }
    .logo {
        width: 5em;
    }
    
}



